<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como é se apaixonar?</title>
</head>

<body>
    <h1></h1>
    <p>Se apaixonar é em essência se perder um pouco, né? Também por isso que dói. É aceitar que o outro não existe para
        atender nossas expectativas. Inclusive, na melhor das hipóteses, o outro nos frustra, nos falta, nos aborrece.
        Nem sempre seremos amados do jeito que queremos. Esperar que o outro nos ame do jeito que nós deveremos nos amar
        é inclusive um erro antigo.</p>

    <p>Às vezes, o que você tá exigindo do outro é um trabalho seu para você e com você. Ninguém pode te amar exatamente
        do jeito que você quer ser amado, porque isso é uma tarefa sua. O amor é um risco deliberado, já determinado, já
        definido. Não existe o investimento seguro quando o assunto é o amor.</p>
    <br>
    <p>Amar é ser para o outro e com isso abdicar de parte de si mesmo. Voltamos àquilo que eu disse no início, amar
        também é matar uma parte daquilo que se ama. O Niet escreveu que o amor é o estado no qual os homens têm mais
        probabilidade de ver as coisas tal como elas não são. Então, amar é viver nessa ilusão consciente, aceitando que
        parte da dor tá nessa projeção involuntária que nós fazemos.</p>
    <br>
    <p>Na língua dos homens, amar é se dar para o outro e esperar que ele não nos macere tanto, que ele não nos
        maltrate, que ele não nos jogue fora, que ele não nos descarte como um pedaço de carne podre. é arriscar, perder
        o controle, perder o ego, perder o conforto. É aceitar que ao nos aproximarmos, nos apaixonarmos de alguém,
        inevitavelmente nós nos veremos refletidos nas imperfeições desse outro.</p>
    <br>
    <p>E essas imperfeições nos ensinam sobre nossas próprias falhas. É se tornar humilde em certo sentido e até pequeno
        diante do imenso desconhecido que é o outro. O Fre é novamente o Freud ele dizia que o apaixonado é um humilde,
        porque ele escolhe colocar no outro esse amor que ele poderia estar investindo em si mesmo.</p>
</body>

</html>