<%- include('partials/header.ejs') %>

<body>

    <%- include('partials/navbar.ejs') %> <!-- aprendendo a importar os arquivos, e reutilizando codigo desta maneira -->

    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">        
                <h3>Realizar pergunta</h3>
            </div>
            <div class="card-body">
                <br>
                <form method="post" action="/salvarpergunta">
                    <label for="">Titulo</label>
                    <input type="text" placeholder="Titulo" class="form-control" name="titulo">
                    <br><label for="">Descricao</label>
                    <textarea placeholder="Descreva sua pergunta" class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-dark">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('partials/footer.ejs') %>